.packsHeader{
    display: flex;
    justify-content: space-between;
}
.packsHeader h1{
    flex-grow: 1;
}
.addName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
