.packsHeader{
    display: flex;
    justify-content: space-between;
}
.packsHeader h1{
    flex-grow: 1;
}
.packsFilterTab{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;

}
.packsSearch, .packsShowSelect,.packsNumberOfCards{
    display: flex;
    flex-direction: column;
}
.packsSearch{
    width: 415px;
}
