* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a{
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: none;
  color: #366EFF;
}

.error{
  color: #a12a2a;
}

h2{
  font-weight: bold;
  font-size: 1.25em;
  line-height: 27px;
  text-align: right;
  color: #000000;
}
h3{
  font-weight: bold;
  font-size: 1em;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #000000;
}
h1 {
  font-famil: Montserrat;
  font-weight: bold;
  font-size: 1.5em;
  color: #001a58;
}
